.heading-bg {
  background-image: url("./../images/photo-1612157777902-5382bc6e864b.jpeg");
  height: 560px;
  background-size: cover;
  background-position: bottom;
  @include media-breakpoint-up(md) {
    height: 582px;
  }
}
.coach-img {
  height: 628px;
}
.coach-head-break {
  width: 48px;
  @include media-breakpoint-up(md) {
    width: 94px;
  }
}
.coach-head {
  width: 48px;
  @include media-breakpoint-up(md) {
    width: 68px;
  }
}
.space-img {
  height: 210px;
  @include media-breakpoint-up(md) {
    height: 266px;
  }
  @include media-breakpoint-up(lg) {
    height: 444px;
  }
}

.space-img-sm {
  flex-basis: 100%;
  @include media-breakpoint-up(md) {
    flex-basis: 50%;
  }
}



.course-design-img {
  margin-right: 0.9375rem;
  margin-bottom: 1rem;
  flex: 0 0 calc(50% - 0.9375rem);
  @include media-breakpoint-up(md) {
    margin-right: 1.875rem;
    margin-bottom: 1.5rem;
    flex: 0 0 calc(50% - 1.875rem);
  }
}

.plan-img {
  height: 243px;
  @include imgRounded(1rem 1rem 0 0);
  @include media-breakpoint-up(md) {
    border-radius: 1rem 0 0 1rem;
  }
  @include media-breakpoint-up(lg) {
    border-radius: 1rem 1rem 0 0;
  }
}

.feedback-swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  .swiper-slide {
    height: calc((100% - 30px) / 2);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.user-head {
  width: 60px;
  height: 60px;
}

.feedback-sm-navigation {
    margin-top: 8px;
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: 0%;
    width: auto;
    height: auto;
    margin-top: 0px;
    z-index: 0;
    cursor: pointer;
    background-size: auto;
    background-position: auto;
    background-repeat: no-repeat;
    background-image: url("");
    left: 0;
    right: auto;
  }
}
