<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css">
    <script>
      (function(d) {
        var config = {
          kitId: 'nqs4gsf',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

  <body>
    <!-- #navbar -->
    <section class="bg-light">
    <div class="container-fluid container-md">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-8">
      
        <a class="navbar-brand" href="#"><img src="./assets/images/DOYOGA-logo.png" alt="logo" class="logo"></a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-grow-1 justify-content-center ms-15">
            <li class="nav-item ms-11">
              <a class="nav-link" href="#">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">當月課表</a>
            </li>
          </ul>
          <div class="d-flex flex-column flex-lg-row">
            <button class="btn btn-sm btn-outline-secondary my-2 my-lg-0 me-lg-6">立即預約</button>
            <button class="btn btn-sm btn-outline-secondary">聯絡我們</button>
          </div>
        </div>
    </nav>
  </div>
</section>
<!-- #fixed social media button -->
<div class="h-100">
<div class="d-none d-lg-flex flex-column position-fixed end-0 top-50 translate-middle-y me-6 z-index-2">
  <a href="#" class="btn p-0 mb-2 text-secondary"><i class="fab fa-facebook fa-2x"></i></a>
  <a href="#" class="btn p-0 mb-2 text-secondary"><i class="fab fa-instagram fa-2x"></i></a>
  <a href="#" class="btn p-0 text-secondary"><i class="fab fa-line fa-2x"></i></a>
</div>
</div>
    <%- contents %>

    <!-- #footer -->
    <footer class="bg-secondary pt-9 pb-11 py-md-11">
      <div class="border-bottom border-white pb-9 mb-9">
      <div class="contaner-fluid container-md">
        <!-- subscribe -->
      <div class="row">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-12 col-lg-8">
        <h3 class="text-white">現在訂閱，獲得課程優惠碼！</h3>
      </div>
        <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="enter your email" aria-describedby="btnGroupAddon">
          <button class="btn btn-primary">訂閱</button>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
      <!-- footer nav -->
      <div class="contaner-fluid container-md">
        <!-- brand logo & social media -->
        <div class="d-flex justify-content-between mb-2">
        <a class="navbar-brand d-flex align-items-center" href="#"><img class="logo" src="./assets/images/DOYOGA.png" alt="logo"></a>
        <!-- social media icon -->
        <div class="d-flex">
          <a href="#" class="btn p-0 me-2"><i class="fab fa-facebook fa-1x"></i></a>
          <a href="#" class="btn p-0 me-2"><i class="fab fa-instagram fa-1x"></i></a>
          <a href="#" class="btn p-0"><i class="fab fa-line fa-1x"></i></a>
        </div>
      </div>
      <!-- footer navigation -->
        <ul class="nav flex-column align-items-start">
          <li class="nav-item">
            <a class="nav-link mb-2" href="#">課程介紹</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#">瑜珈空間</a>
          </li>
          <li class="nav-item d-flex flex-column flex-md-row align-self-md-stretch">
            <a class="nav-link mb-2" href="#">當月課表</a>
            <p class="flex-grow-1 text-white text-center">© 2021. All Rights Reserved.</p>
          </li>
      </ul>
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>