.overlay-text-img-card{
    height: 420px;
    .card-img-overlay{
        padding: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        height: 252px;
        .card-img-overlay{
            padding: 1rem;
        }
    }
    @include media-breakpoint-up(lg) {
        height: 420px;
        margin-bottom: 0;
        .card-img-overlay{
            padding: 1.5rem;
        }
    }
    .card-img{
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .card-title,.card-text{
        text-align: left;
    }
}